<header [ngClass]="{ 'main-header': true, hidden: headerOculto }">
  <div routerLink="/" class="logo">
    <span class="material-symbols-outlined"> shopping_bag </span>MiTienda
  </div>
  <div class="search-bar">
    <input
      type="text"
      placeholder="Buscar productos..."
      [(ngModel)]="searchQuery"
      (input)="onSearchChange()"
    />
    <div class="dropdown-container">
      <a
        href="#"
        (click)="toggleMenu(); $event.preventDefault()"
        class="dropdown-toggle"
      >
        Categorias ▼
      </a>
      <div *ngIf="isOpen" class="dropdown-list">
        <ul *ngFor="let category of categoryProducts">
          <li (click)="filtrarPorCategoria(category)">{{ category }}</li>
        </ul>
      </div>
    </div>
    <button type="button" (click)="onSearch()">Buscar</button>
  </div>
  <nav class="nav-user">
    <div class="user-account">
      <a (click)="conditionalButton(); $event.preventDefault()" href="#">
        <span class="material-symbols-outlined">account_circle</span>
        {{ isLoggedIn ? "Logout" : "Sign in" }}
      </a>
    </div>
    <div class="user-cart">
      <a routerLink="/cart">
        <span class="material-symbols-outlined">shopping_cart</span>
        My cart
      </a>
    </div>
    <div class="user-orders">
      <a routerLink="/orders">
        <span class="material-symbols-outlined">receipt_long</span>
        My orders
      </a>
    </div>
    <div class="user-orders">
      <a routerLink="/admin">
        <span class="material-symbols-outlined">shield_person</span>
        Panel
      </a>
    </div>
  </nav>
</header>
