.main-header {

    display: grid;
    grid-template-areas: "logo search-bar search-bar ."
                     ". dropdown-container nav-links nav-user";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px 28px;
    grid-column-gap: 50px;
    grid-row-gap: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--six-color);
    color: var(--primary-color);
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    margin: 0;
    margin-bottom: 2rem;
    position: sticky;
  }

  .nav-user {
    grid-area: nav-user;
  }
  .nav-links {    
    grid-area: nav-links;
  }

  .nav-user, .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    
  }
  .search-bar {
    grid-area: search-bar;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }
  
  .logo {
    grid-area: logo;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--primary-color);
  }
  
  .nav-links a {
    margin: 0 1rem;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover, .nav-users a:hover {
    color: var(--secondary-color);
  }
  
  .login-button {
    background-color: var(--tertiary-color);
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: var(--quaternary-color);
  }

  .dropdown-container {
    grid-area: dropdown-container;
    position: relative; /* Para posicionar el dropdown-list respecto a esto */
    display: inline-block;
  }
  
  .dropdown-toggle {
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
  }
  
  /* Dropdown flotante */
  .dropdown-list {
    position: absolute;
    top: 100%; /* justo debajo del botón */
    left: 0;
    background-color: var(--tertiary-color);
    border-radius: 5px;
    border-top: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 999; /* por encima del header */
    width: 150px;
    margin-top: 2px;
  }
  
  .dropdown-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .dropdown-list li {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-list li:hover {
    background-color: #f0f0f0;
  }
  