<div class="image-wrapper">
  <div class="top-fade"></div>
  <img
    src="assets/images/computers.png"
    alt="Home Banner"
    class="home-banner"
  />
  <div class="bottom-fade"></div>
  <div class="home-content">
    <h1 class="home-title">Bienvenido a MiTienda</h1>
    <p class="home-subtitle">Tu tienda de tecnología en línea</p>
    <button (click)="mainButtonHandler()" class="home-button" routerLink="/productos">
      Explorar productos
    </button>
  </div>
</div>
<div class="home-container">
  <app-featured-products></app-featured-products>
  <app-categories-preview></app-categories-preview>
</div>
